
@model WebDemo.Models.ContactData

@{
    ViewBag.Title = "Demo of Knockout MVC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <title>title</title>


    <div>
        <p>
            First name: <input data-bind="value: firstName" />
        </p>
        <p>
            Last name: <input data-bind="value: lastName" />
        </p>
        <h2>
            Hello, <span data-bind="text: fullName"> </span>!
        </h2>
    </div>



    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.1.0.js"></script>
    <script type="text/javascript">
        // Here's my data model

        var ViewModel = function (first, last) {
            this.firstName = ko.observable(first);
            this.lastName = ko.observable(last);

            this.fullName = ko.pureComputed(function () {
                // Knockout tracks dependencies automatically. It knows that fullName depends on firstName and lastName, because these get called when evaluating fullName.
                return this.firstName() + " " + this.lastName();
            }, this);
        };
        var fName = "@Model.FirstName";
        var lName = "@Model.LastName";
        ko.applyBindings(new ViewModel(fName, fName)); // This makes Knockout get to work
    </script>

